<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row card">
            <div class="col s12 m6 card-content">
                <h3 class="text-center">YOU</h3>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: red; margin: 0; color: white;"
                        v-bind:style="{'width': playerHealth + '%','background-color': getPlayerBarColor()}">
                        {{ playerHealth }}
                    </div>
                </div>
            </div>
            <div class="col s12 m6 card-content">
                <h3 class="text-center">MONSTER</h3>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                        v-bind:style="{'width': monsterHealth + '%','background-color': getMonsterBarColor()}">
                        {{ monsterHealth }}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls card" v-if="!gameIsRunning">
            <div class="col s12 card-content text-center">
                <button class="btn waves-effect waves-light black btn-large" id="start-game"
                    v-on:click="startGame()">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls card" v-if="gameIsRunning">
            <div class="col s3 card-content text-center">
                <button class="btn waves-effect waves-light red" id="attack" v-on:click="attack">ATTACK</button>
            </div>
            <div class="col s3 card-content text-center">
                <button class="btn waves-effect waves-light orange" id="special-attack" v-on:click="specialAttack"
                    v-bind:class="{disabled: !sAttacksLeft}">SPECIAL ATTACK ({{ sAttacksLeft }})</button>
            </div>
            <div class="col s3 card-content text-center">
                <button class="btn waves-effect waves-light light-green" id="heal" v-bind:class="{disabled: !healsLeft}"
                    v-on:click="heal">HEAL
                    ({{ healsLeft }})</button>
            </div>
            <div class="col s3 card-content text-center">
                <button class="btn waves-effect waves-light grey" id="give-up" v-on:click="giveUp">GIVE UP</button>
            </div>
        </section>
        <section class="row log card" v-if="gameIsRunning">
            <div class="col s12 card-content text-center">
                <ul>
                    <li>
                    </li>
                </ul>
            </div>
        </section>

    </div>
    <script src="master.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>